@model inmobiliaria_Lorenzo.Models.CambioPassword

@{
    ViewData["Title"] = "Editar contraseña";

}

<h1>Editar Contraseña</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (TempData["Mensaje"] != "")
            {
                <div class="text-success">
                    Su contraseña a sido modificada
                </div>
            }

            <div class="form-group">
                <label asp-for="PasswordVieja" class="control-label">Ingrese contraseña actual:</label>
                <input asp-for="PasswordVieja" class="form-control" />
                <span asp-validation-for="PasswordVieja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordNueva" class="control-label">Ingrese contraseña nueva:</label>
                <input asp-for="PasswordNueva" class="form-control" />
                <span asp-validation-for="PasswordNueva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmacion" class="control-label">Confirme su contraseña nueva:</label>
                <input asp-for="PasswordConfirmacion" class="form-control" />
                <span asp-validation-for="PasswordConfirmacion" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Cambiar contraseña" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (User.IsInRole("Administrador"))
    {

        <a asp-action="Index">Volver atrás</a>
    }
    else
    {
        <a asp-controller="Home" asp-action="Index">Volver atrás</a>
    }
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}